@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Rubik Spray Paint", system-ui; */ @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik+Spray+Paint&family=Train+One&display=swap');
/* font-family: "Quicksand", sans-serif; */  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background: #191e24;
}
#header {
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 50px;
    border: none;
    background: transparent;
    margin-bottom: 50px;
}

#header {
    float: left;
    font-family: "Quicksand", sans-serif;
    animation: 10s gradient infinite;
}

@keyframes gradient {
    0% {
        color: #4C585B;
    }
    25% {
        color: #7E99A3;
    }
    50% {
        color: #A5BFCC;
    }
    75% {
        color: #F4EDD3;
    }
    100% {
        color: #4C585B;
    }
}

/* animation: 2.5s pulse infinite; как использовать анимации*/
/* animation: move 5s infinite linear;  как двигать*/

#nav {
    list-style: none;
    display: block;
    float: left;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    margin-bottom: 20px;
}
.ka {
    text-decoration: none;
}

#nav li {
    display: inline-block;
    font-family: "Quicksand", sans-serif;
    background: #444;
    cursor: pointer;
    color: #fff;
    border: none;
    position: absolute;
    top: 1vh;
    right: 1vh;
    padding: 0.6em 20px;
    border-radius: 1000px;
    transition:
        color 0.4s ease-in-out,
        transform 0.4s ease-in-out;
}

#nav li:hover {
    transform: scale(1.05);
}

#nav a {
    text-decoration: none;
    color: #fff;
}

/* Это основная часть сайта в которой лежат мои любимые треки */

#like {
    font-family: "Quicksand", sans-serif;
    color: #fff;
    text-align: center;
    margin-bottom: 1em;
    position: relative;
    font-size: 1.3em;
    left: 15%;
}

#main{
    top: -2vh;
    width: 40vw;
    height: 50vh;
    color: #fff;
    font-family: "Quicksand", sans-serif;
    float: left;
    left: 3vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: left;
    overflow-y: auto;
    background-image: linear-gradient(to bottom right, #213448, #F4EDD3);
    border-radius: 12px;
    border: none;
    opacity: 0.5;
    padding: 20px 2.5%;
    position: relative;
    align-items: flex-start;
    transition:
    width 0.4s ease-in-out,
    height 0.4s ease-in-out,
    opacity 0.4s ease-in-out,
    color 0.4s ease-in-out,
    transform 0.4s ease-in-out,
    box-shadow 0.4s ease-in-out;
}
#main {
  --sb-track-color: #232E33;
  --sb-thumb-color: linear-gradient(to bottom right, #1B3C53, #456882);
  --sb-size: 8px;
}
#main::-webkit-scrollbar {
  width: var(--sb-size)
}
#main::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 12px;
}
#main::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 12px;
  border: none;
}
#main::-webkit-scrollbar:hover {
    width: var(--sb-size + 2)
}
@supports not selector(::-webkit-scrollbar) {
  #main {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

#main:hover {
    opacity: 0.8;
    color: #DDC3C3;
    transform: scale(1.03);
    box-shadow: -20px 0 80px #222831, 20px 0 80px #DFD0B8;
}

/* Сюда желательно доабвалять всё что связано в треками обложками и ссылки к ним */

#fashion_ssilka, #Tyler2_ssilka, #The_lost_souls_ssilka {
    display: flex;
    flex-direction: column;
    align-items: center; /* выравнивание по левому краю */
    color: #fff;
    text-decoration: none;
}

#fashion_ssilka:hover {
    text-decoration: underline;
    color: #DDC3C3;
}

#Tyler2_ssilka {
    margin-top: 10px;
    margin-bottom: 1px;
}

#Tyler2_ssilka:hover {
    text-decoration: underline;
}

#The_lost_souls_ssilka {
    position: relative;
    left: -2vw;
}

#The_lost_souls_ssilka:hover {
    text-decoration: underline;
}

#main:hover a{
    color: inherit;
}

.tracki {
    position: relative;
    left: -1vw;
    width: 9.5vw;
    transition:
    transform 0.3s ease;
}
.tracki:hover {
    transform: scale(1.03);
}
/* #btn {
    padding: 1em 2em;
    background-color: #161a20;
    border: none;
    color: #f0f0f0;
    border-radius: 1000px;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

#btn::after{
    content: '';
    position: absolute;
    height: 107%;
    width: 102%;
    border-radius: 1000px;
    background-image: linear-gradient(to bottom right, #008cff, #e100ff);
    z-index: -1;
}

#btn:hover {
    z-index: 0;
    transform: scale(1.05);
    box-shadow: 20px 0 80px #008cff, -20px 0 80px #e100ff;
} */

/* Задача: разобраться с расположением соц сетей: Выполенена! */

#aside {
    position: relative;
    width: -9vw;
    height: 30vh;
    padding: 1em 2em;
    background: transparent;
    border: none;
    color: #f0f0f0;
    font-family: "Quicksand", sans-serif;
    border: none;
    float: left;
    left: 25%;
    top: -2vh;
    border-radius: 10px;
    display: flex;
    opacity: 0.5;
    flex-direction: column;
    text-decoration: none;
    justify-content: top;
    align-items: left;
    transition:
    opacity 0.4s ease-in-out,
    color 0.4s ease-in-out,
    transform 0.4s ease-in-out,
    box-shadow 0.4s ease-in-out;
}

#src-ds {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin-top: 2%;
    margin-left: 0%;
    position: absolute;
    width: 25px;
    height: 25px;
    transition:
    rotate 0.3s ease,
    filter 0.3s ease,
    transform 0.3s ease;
}
#src-ds:hover {
    rotate: 15deg;
    transform: scale(1.2);
    filter: drop-shadow(0 0 5px #5865F2);
}

#src-tg {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    margin-top: 14%;
    margin-left: 0%;
    position: absolute;
    width: 25px;
    height: 25px;
    transition:
    rotate 0.3s ease,
    filter 0.3s ease,
    transform 0.3s ease;
}
#src-tg:hover {
    rotate: 15deg;
    transform: scale(1.2);
    filter: drop-shadow(0 0 5px #0088cc);
}

#aside::after {
    content: '';
    border-radius: 10px;
    position: absolute;
    right: -2%;
    top: -2%;
    height: 104%;
    width: 104%;
    background-image: linear-gradient(to bottom right, #234C6A, #D2C1B6);
    z-index: -1;
}

#aside:hover {
    opacity: 1;
    box-shadow: -20px 0 80px #234C6A, 20px 0 80px #D2C1B6;
    transform: scale(1.05);
    color: #DFD0B8;
}

#footer{
    float: left;
    margin-bottom: 0;
    margin-top: 50px;
    border-bottom: 0;
    border-top: 4px solid silver
}

@media (max-width: 768px) {
    #like {
        left: 1.5%;
    }
    #main {
    width: 60%;          /* растягивается по ширине */
    height: auto;        /* высота под контент */
    float: none;         /* отключаем float */
    margin: 50px auto;   /* центрируем */
    flex-direction: column;
    overflow-x: none;
    font-size: 10px;
    align-items: center;
    margin-left: 18%;
  }
  #main::after {
    top: -0.9vh;
    right: -0.8vh;
    height: 104%;
    width: 104%;
  }
  #nav li {
    top: 16vh;
    right: 18vh;
  }
  #aside {
    width: 50%;
    height: 12vh;
    float: none;
    margin-left: -5%;
  }
  #The_lost_souls_ssilka {
    position: relative;
    left: 0vw;
   }
  .tracki {
    width: 30vw;
    left: 0vw;
}

}
