@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Rubik Spray Paint", system-ui; */ @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik+Spray+Paint&family=Train+One&display=swap');
/* font-family: "Quicksand", sans-serif; */  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background: #191e24;
}

#header {
    font-family: "Rubik Spray Paint", system-ui;
    color: aqua;
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 80px;
    border: none;
    background: #222;
    margin-bottom: 50px;
}

#footer {
    font-family: "Rubik Spray Paint", system-ui;
    color: aqua;
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 80px;
    border-bottom: 3.5px solid silver;
    background: #333;
    margin-bottom: 50px;
}

#header {
    float: left;
    font-family: "impact", sans-serif;
    animation: 4.5s gradient infinite;
}

@keyframes gradient {
    0% {
        color: #04C4C4;
    }
    50% {
        color: #04C9A8;
    }
    75% {
        color: #50c59c;
    }
    100% {
        color: #04C4C4;
    }
}

/* animation: 2.5s pulse infinite; как использовать анимации*/
/* animation: move 5s infinite linear;  как двигать*/

#nav {
    list-style: none;
    display: block;
    float: left;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    margin-bottom: 20px;
}
.ka {
    text-decoration: none;
}

#nav li {
    display: inline-block;
    font-family: "Quicksand", sans-serif;
    background: #444;
    cursor: pointer;
    color: #fff;
    border: none;
    position: relative;
    padding: 0.6em 20px;
    margin-right: 10px;
    margin-bottom: 2px;
    border-radius: 1000px;
    transition:
        background 0.4s ease,
        color 0.4s ease,
        transform 0.4s ease,
        box-shadow 0.4s ease,
        padding 0.4s ease; /* плавный возврат паддинга */
}

#nav li::after {
    content: '';
    position: absolute;
    height: 104%;
    width: 104%;
    display: block;
    top: -2.5%;
    right: -1.5%;
    border-radius: 1000px;
    background-image: linear-gradient(to bottom right, #008cff, #00ffff);
    z-index: -1;
}

#nav li:hover {
    box-shadow: 0 1px 50px #008cff, 0 1px 50px #00ffff;
    background: #666;
    color: #ff0;
    padding: 14px 24px; /* увеличенные отступы */
    transform: scaleX(1.05);
}

#nav a {
    display: block;          /* ссылка тянется по размеру li */
    color: inherit;          /* наследует цвет */
    text-decoration: none;   /* убираем подчёркивание */
}

#main{
    width: 40vw;
    height: 50vh;
    color: #fff;
    font-family: "Quicksand", sans-serif;
    float: left;
    left: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: left;
    background: #222831;
    border-radius: 12px;
    border: none;
    padding: 20px 2.5%;
    position: relative;
    align-items: flex-start;
    transition:
    color 0.4s ease,
    transform 0.4s ease,
    box-shadow 0.4s ease;
}

#main::after {
    content: '';
    border-radius: 12px;
    position: absolute;
    right: -1vh;
    top: -1vh;
    height: 57vh;
    width: 46vw;
    background-image: linear-gradient(to bottom right, #6B3F69, #D3DAD9);
    z-index: -1;
}

#main:hover {
    color: #DDC3C3;
    transform: scale(1.03);
    box-shadow: -20px 0 80px #6B3F69, 20px 0 80px #D3DAD9;
    z-index: 0;
}

#fashion_ssilka, #Tyler2_ssilka {
    display: flex;
    flex-direction: column;
    align-items: center; /* выравнивание по левому краю */
    color: #fff;
    text-decoration: none;
}

#Tyler2_ssilka {
    margin-bottom: 1px;
}

#main:hover a{
    color: inherit;
}

#fashion_ssilka:active {
    color: #DDC3C3;
}

.tracki {
    width: 9.5vw;
}
/* #btn {
    padding: 1em 2em;
    background-color: #161a20;
    border: none;
    color: #f0f0f0;
    border-radius: 1000px;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

#btn::after{
    content: '';
    position: absolute;
    height: 107%;
    width: 102%;
    border-radius: 1000px;
    background-image: linear-gradient(to bottom right, #008cff, #e100ff);
    z-index: -1;
}

#btn:hover {
    z-index: 0;
    transform: scale(1.05);
    box-shadow: 20px 0 80px #008cff, -20px 0 80px #e100ff;
} */

/* Задача: разобраться с расположением соц сетей */

#aside {
    position: relative;
    width: -9vw;
    height: 30vh;
    padding: 1em 2em;
    background-color: #222831;
    border: none;
    color: #f0f0f0;
    font-family: "Quicksand", sans-serif;
    border: none;
    float: left;
    left: 25%;
    border-radius: 10px;
    display: flex;
    justify-content: left;
    align-items: left;
    transition:
    color 0.4s ease,
    transform 0.4s ease,
    box-shadow 0.4s ease;
}

#src-ds {
    display: flex;
    justify-content: left;
    align-items: left;
    margin-top: 10%;
    margin-left: -20vh;
    position: absolute;
    width: 25px;
    height: 25px;
}

#src-tg {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 21%;
    margin-left: -20vh;
    position: absolute;
    width: 25px;
    height: 25px;
}

#aside::after {
    content: '';
    border-radius: 10px;
    position: absolute;
    right: -2%;
    top: -2%;
    height: 104%;
    width: 104%;
    background-image: linear-gradient(to bottom right, #234C6A, #D2C1B6);
    z-index: -1;
}

#aside:hover {
    z-index: 0;
    box-shadow: -20px 0 80px #234C6A, 20px 0 80px #D2C1B6;
    transform: scale(1.05);
    color: #DFD0B8;
}

#footer{
    float: left;
    margin-bottom: 0;
    margin-top: 50px;
    border-bottom: 0;
    border-top: 4px solid silver
}
